# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases

# testing
/coverage

# production & export builds
/build
/dist
/out
/.next/

# cache & temporary files
.turbo
.eslintcache
*.tsbuildinfo
*.swp
*.swo

# environment variables
.env
.env*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# misc & OS
.DS_Store
Thumbs.db
pnpm-lock.yaml
.deploy-instructions.txt

# IDEs & editors
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/


/.next/
.next
