.Homepage {
font-family: Arial, sans-serif;
}

header {
position: fixed;
top: 0;
left: 0;
right: 0;
background-color: #2d7830; /* may need a color change */
padding: 15px 0;
z-index: 1000;
}

nav {
display: flex;
justify-content: center;
}

button {
margin: 0 10px;
padding: 15px 40px;
font-size: 20px;
background-color: #2d7830;
color: white;
border: none;
cursor: pointer;
transition: background-color 0.3s;
}

button:hover {
background-color: #45a049;
}

main {
padding-top: 60px; /* To account for the fixed header */
}

section {
height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
box-sizing: border-box;
}

section:nth-child(odd) {
background-color: #f2f2f2;
}

h2 {
font-size: 2.5em;
margin-bottom: 20px;
}
/* styles for each section */
.about-section {
display: flex;
flex-direction: column;
align-items: center;
}

.section-title {
width: 100%;
text-align: center;
margin-top: -80px;
margin-bottom: 40px;
}

.about-content {
display: flex;
width: 100%;
max-width: 1200px;
}

.about-text {
flex: 1;
padding-right: 20px;
font-size: 22px;
}

.about-image {
flex: 1;
display: flex;
justify-content: center;
align-items: center;
}

.about-image img {
max-width: 60%;
height: auto;
}

@media (max-width: 768px) {
.about-content {
    flex-direction: column;
}

.about-text, .about-image {
    width: 100%;
    padding: 0;
}
}


.contact-content {
text-align: center;
max-width: 600px;
}

.contact-info {
margin-top: 30px;
}

.contact-info h3 {
font-size: 1.5em;
margin-bottom: 10px;
}

.contact-info p {
margin: 5px 0;
}